/* *{
    background-color: blueviolet;
} */

.myTabHeading{
    background-color:#2bbbad;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.myTabHeading li {
    width:25%;
    padding: 15px 5px;
    color:white;
    font-weight: bold;
    text-align: center;
    cursor:pointer;
    transition: all .3s ease-in-out;
}
.tabContent{
    display: none;
}
.myTabHeading li.active,
.myTabHeading li.hover,
.myTabHeading li.focus,
.myTabHeading li.active{
    background-color: rgba(0,0,0,.2);
}

.tabContent.active{
    display: block;
}